// Importation des variables avec le préfixe "var"
@use '../utils/variables' as var;

.todos-container {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between; // penser a appliquer le placeholder
    background-color: var.$bg-color-li;
    padding: 5px;
    margin-bottom: var.$bottom-li;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var.$radius-container;
    opacity: 0;
    animation: fadeIn 0.7s forwards;

    label {
      flex-grow: 1;
      margin-left: 10px;
    }
  }
  
    
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .toggle-completed {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid var.$color-border-input;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &:checked {
      background-color: var.$bg-button;
      &:after {
        content: '\2713';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: var.$color-txt-button;
        line-height: 20px;
      }
    }

    &:not(:checked) {
      background-color: var.$transpa;
    }
  }
}

.filter__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

        .filter {
          color: var.$color-tittle;
          padding: 5px 15px;
          margin: 0px 7px;
          border-radius: 100px;
          border: 2px solid var.$color-border-input;
          background-color: var.$bg-color-input;
          cursor: pointer;
          display: flex;
          transition: all 0.4s ease;

              &:hover {
                background-color: var.$bg-button;
                color: var.$color-txt-button;
                border:2px solid rgb(188 206 191); // a integrer dans variable 
              }
                  // Lorsqu'un filtre a la classe 'active'
              &.active {
              background-color: var.$bg-button; // 
              color: var.$color-txt-button;
              border:2px solid rgb(188 206 191);
              //penser a creer un placeholder pour les 2 proriété
              box-shadow:var.$effect-active; /* Effet enfoncé lors du clic */
              transform: translateY(0.9px);           
              }
            }
          }

.todos-container {
  display: flex;
 
}